mixin input(element)
    - if (element.type !== 'textarea')
        .input(data-required=element.required class=element.class)
            label.input__label.font-small.hidden!= element.required_text
            input.font-form(type=element.type placeholder=element.placeholder required=element.required name=element.name)
    - else 
        .input(data-required=element.required)
            label.input__label.font-small.hidden= element.placeholder
            label.error
            textarea.font-form(type=element.type placeholder=element.placeholder required=element.required data-max=element.max name=element.name)
            .input__count.font-small
                .input__count-real 0
                span / 
                .input__count-max= element.max