mixin card-document(element)
    .card-document  
        a.card-document__wrapper(href=element.href download)  
            .card-document__title.font-h3= element.title
            .card-document__name.font-h4= element.name
            .card-document__bottom
                .card-document__bottom-format.font-tab= element.format
                .card-document__bottom-weight.font-p-1= element.weight
        a.card-document__preview.font-tab(href=element.popup data-fancybox) Просмотр